<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/base.css">
</head>
<body>
            <div class="top">
                <ul>
                    <li><a href="/"><b>教师工资</b></a></li>
                    <li><a href="animation"><b>北京与新疆教育经费支出对比</b></a></li>
                    <li><a href="salary"><b>城镇平均工资水平</b></a></li>
                    <li><a href="diamond"><b>2018年城镇工资水平各省对比</b></a></li>
                    <li><a href="scatter"><b>2017年及2018年教师工资情况变化</b></a></li>
                    <li><a href="wordcloud"><b>2018年教师工资水平各省对比</b></a></li>
                    <li><a href="user"><b>总结</b></a></li>
                </ul>
            </div>

<h2>{{ the_title }}</h2>



<center>
<h3 style="color: orange"><b>  教师一直被认为是一份铁饭碗的职业。</b></h3>
<h3>数据表明，有52，6%的被调查者选择到学校做教师，我们分析也可得出教职工人数各省每年都在不同程度的上升。为何成为这么受欢迎的职业呢？</h3>
   <br>
<div class="box" style="background-color: lightyellow"  >
<h4>从我们的数据分析发现，教师工资或成为一大重要因素，城镇的职工人员的平均工资都在逐年升高，而教师的平均工资也在逐年升高，并且一直处于他们之上，教师工资高也成为吸引大家选择就业的一大因素。</h4>
    <h4>而教育经费支出的逐年上涨，或与国家实施的政策有关，在《关于进一步调整优化结构提高教育经费使用效益的意见》中明确指出，“在继续保持财政教育投入强度的同时,积极扩大社会投入”，也体现了国家开始对教育事业的重视，他们的重视吸引了许多应届毕业生开始投入教育事业。</h4>
        <h4>其中在我们的数据分析中，分析了各省教师工资水平的对比，能够发现工资高的地方经济发展水平也高，但出现了个例，西藏的教师工资水平位居前列，虽然西藏的经济不发达，但是由于西藏在政治地位上的重要性，国家每年的财政投入都很高，目前，西藏已建成从学前教育到高中教育15年免费教育体系，因此西藏的教师工资水平位居前列，即使这样，其他各省经济不发达的地方也需要投入力度增加老师的福利待遇，这样才能让更多的人才加入教育行业，为国家教育事业做贡献。</h4>
    </div>
</center>


</body>




</html>